body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0 auto;
    background-color: #f4f4f9;
}

h1 {
    text-align: left;
    padding-left: 2.5vh;
}

.shop {
    height: 90vh;
    width: 90vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.shop h2 {
    text-align: center;
}